<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    {{> head-scripts }}
  </head>
  <body>
    <header class="header-intro">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1><span>Especialistas Framework</span></h1>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <h1>O projeto</h1>
          <p>Usaremos nesse projeto as seguintes tecnologias:</p>
          <ul>
            <li>Javascript ES2015 com Babel</li>
            <li>JQuery 3</li>
            <li>Bootstrap 4</li>
            <li>Font Awesome</li>
            <li>Bootstrap Select</li>
            <li>iCheck</li>
          </ul>
        </div>
        <div class="col-xs-6">
          coluna 2
        </div>
      </div>
    </div>
    <footer>
      footer page oi <i class="fa fa-check"></i>
    </footer>
    {{> footer-scripts }}
    <!--build:js js/galeria.js -->
    <!-- endbuild -->
  </body>
</html>
