<!DOCTYPE html>
  <head>
    <title>Front-End Dev Conference</title>
    {{> head-scripts }}
  </head>
  <body>
    {{> org-header}}
    <main class="main container">
      <div class="row ">
        <div class="col-18">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </div>
        <div class="col-6" id="sidebar">
            <div class="list-group">
              <a href="#" class="list-group-item active">Link</a>
              <a href="#" class="list-group-item">Link</a>
              <a href="#" class="list-group-item">Link</a>
              <a href="#" class="list-group-item">Link</a>
              <a href="#" class="list-group-item">Link</a>
              <a href="#" class="list-group-item">Link</a>
              <a href="#" class="list-group-item">Link</a>
              <a href="#" class="list-group-item">Link</a>
              <a href="#" class="list-group-item">Link</a>
              <a href="#" class="list-group-item">Link</a>
            </div>
          </div>
      </div>

    </main>
    {{> org-footer}}

    {{> footer-scripts }}
    <!--build:js js/main.js -->

    <!-- endbuild -->
  </body>
</html>
